body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #f4f4f4;
    background-color: #333;
    transition: all 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #444;
}

h1 {
    margin: 0;
}

.light-mode {
    color: #333;
    background-color: #f4f4f4;
}

.light-mode header {
    background-color: #f4f4f4;
}

label {
    cursor: pointer;
}